ipython

# LangChain Core
langchain
langgraph
langsmith
langchain-core
langchain-community
langchain-classic

# OpenAI Integration
langchain-openai
openai
nltk

# Anthropic Integration
langchain-anthropic
langchain-groq

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
sentence-transformers
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
pandas
matplotlib
requests
seaborn
scikit-learn
keras
textblob
nltk
spacy
emoji
dotenv
unstructured
tiktoken
pinecone
pinecone-text
pypdf
python-dotenv
torch
torchvision
torchaudio
langchain-pinecone
streamlit
langchain-text-splitters
pymupdf
pdfminer
pydantic
arxiv
wikipedia
