# LangChain Core
langchain
langgraph
langsmith
langchain-core
langchain-community
langchain-tavily

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai
langchain-groq

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
pandas
matplotlib
requests
seaborn
scikit-learn
textblob
nltk
spacy
emoji